{% extends 'base_card.html' %}

{% block title %}Editing a book{% endblock %}

{% block card_header %}
<h3>Editing a book <b>{{ book.title }}</b></h3>
{% endblock %}

{% block card_body %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=40)}}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=40)}}<br>
            {% for error in form.author.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.pages_amount.label }}<br>
            {{ form.pages_amount(size=60)}}<br>
            {% for error in form.pages_amount.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <button type="submit" class="btn btn-outline-primary">Edit</button>
        <form action="{{ url_for('book_detail', id=book.id) }}" method="POST" novalidate>
            <button type="submit" class="btn btn-outline-primary">Cancel</button>
        </form>
    </form>

{% endblock %}

{% block card_footer %}
<span>
    Back to <a href="{{ url_for('books_list') }}">to all books</a>
</span>
{% endblock %}